<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="2">
    <listeners>
        <listener class-name="org.example.hooks.TestListener"></listener>
    </listeners>
    <test verbose="2" name="C:\Users\user2022\Documents\TestingDataBase\iMovingSmokeTDDTest" preserve-order="true">
        <classes>
            <class name="tests.ui.CreateOrderTest">
                <methods>
                    <include name="chooseMoveOption"/>
                    <include name="boxCalculatingPage"/>
                    <include name="details_Page"/>
                    <include name="marketplace_Page"/>
                    <include name="summary_Page"/>
                    <include name="payment_Page"/>
                    <include name="success_Page_Test"/>
                </methods>
            </class>
            <class name="tests.ui.SignInTest">
                <methods>
                    <include name="loginWithValidData"/>
                    <include name="SignUp"/>
<!--                    <include name="forgotPassword"/>-->
                </methods>
            </class>
            <class name="tests.ui.backOfficeTest.QaboSideBarTest">
                <methods>
                    <include name="qaDashBoard"/>
                    <include name="qaUsers"/>
                    <include name="qaCompanies"/>
                    <include name="qaBranches"/>
                    <include name="qaAffiliates"/>
                    <include name="qaOrders"/>
                </methods>
            </class>
            <class name="org.example.utilities.Driver"/>
<!--            <class name="tests.ui.FooterLinksTest">-->
<!--                <methods>-->
<!--                        <include name="footerMenuTest"/>-->
<!--                        <include name="footerLocalPageTest"/>-->
<!--                        <include name="footerCostCalculatorTest"/>-->
<!--                        <include name="footerChecklistPage"/>-->
<!--                        <include name="footerLaborPage"/>-->
<!--                        <include name="footerCaliforniaStatePage"/>-->
<!--                        <include name="footerNewYorkStatePage"/>-->
<!--                        <include name="footerMiamiCityPage"/>-->
<!--                        <include name="footerSeeMoreMoversCityPage"/>-->
<!--                        <include name="footerCrossCountryPage"/>-->
<!--                        <include name="footerInterstatePage"/>-->
<!--                        <include name="footerBoxesPage"/>-->
<!--                        <include name="footerLonDistancePage"/>-->
<!--                        <include name="footerMovingPediaTest"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="tests.ui.backOfficeTest.ChangeDateTest">-->
<!--            </class>-->
<!--            <class name="tests.ui.backOfficeTest.DeliveryProcessTest">-->
<!--            </class>-->
        </classes>
    </test>
</suite>